<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092829810514-o55k0t8mlkqeofn6tjq5ti5vr54si5j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092829810514-o55k0t8mlkqeofn6tjq5ti5vr54si5j1</string>
	<key>API_KEY</key>
	<string>AIzaSyCikoK3AAHRrjmk2s-BtEBuUeh8p4-PGA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1092829810514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fistkim.providerSampleFirebaseAuthenticationApp</string>
	<key>PROJECT_ID</key>
	<string>auth-provider-47cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-provider-47cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092829810514:ios:37fd5e0d3a6869f6e1f48b</string>
</dict>
</plist>